  body {
  background-image: url("./images/background.png");
  background-color: black;
}

.App {
  text-align: center;
  font-family: 'SF TransRobotics';
  font-style: italic;
}

video {
  border: 8px double #111;
  width: 640px;
  height: 480px;
}

.HeroHeading {
  letter-spacing: 4px;
  font-size: 72px;
  -webkit-text-stroke: 3px silver;
  background: -webkit-linear-gradient(#444, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 3s;
  animation-name: glow;
  animation-iteration-count: infinite;
}

.LinkList {
  padding: 10px 0px 0px 5%;
  text-align: left;
  max-height: 1100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}


.UserName {
  margin: 5px;
	text-align: right;
	color: #000066;
  -webkit-text-stroke: 1px silver;
}
.UserText {
  margin: 5px;
	text-align: right;
	color: #111;
  -webkit-text-stroke: 1px silver;
}

.UserBadge {
  padding: 5px 15px 0px 0px;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}

a{
  text-decoration: none;
  color: #ccc;
}

.Heading {
height: 175px;
padding: 10px 0px 0px 0px;
margin: 20px 0px 0px 0px;
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(1,1,1,0) 5%, rgba(1,1,1,0.75) 6%, rgba(1,1,1,0.75) 8%, rgba(1,1,1,0) 9%, rgba(1,1,1,0) 11%, rgba(1,1,1,0.75) 12%, rgba(2,2,2,0.75) 18%, rgba(2,2,2,0) 19%, rgba(3,3,3,0) 25%, rgba(3,3,3,0.75) 26%, rgba(11,11,11,0.75) 75%, rgba(11,11,11,0) 76%, rgba(12,12,12,0) 82%, rgba(12,12,12,0.75) 83%, rgba(13,13,13,0.75) 89%, rgba(13,13,13,0) 90%, rgba(13,13,13,0) 92%, rgba(13,13,13,0.75) 93%, rgba(14,14,14,0.75) 95%, rgba(14,14,14,0) 96%, rgba(15,15,15,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(1,1,1,0) 5%,rgba(1,1,1,0.75) 6%,rgba(1,1,1,0.75) 8%,rgba(1,1,1,0) 9%,rgba(1,1,1,0) 11%,rgba(1,1,1,0.75) 12%,rgba(2,2,2,0.75) 18%,rgba(2,2,2,0) 19%,rgba(3,3,3,0) 25%,rgba(3,3,3,0.75) 26%,rgba(11,11,11,0.75) 75%,rgba(11,11,11,0) 76%,rgba(12,12,12,0) 82%,rgba(12,12,12,0.75) 83%,rgba(13,13,13,0.75) 89%,rgba(13,13,13,0) 90%,rgba(13,13,13,0) 92%,rgba(13,13,13,0.75) 93%,rgba(14,14,14,0.75) 95%,rgba(14,14,14,0) 96%,rgba(15,15,15,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(1,1,1,0) 5%,rgba(1,1,1,0.75) 6%,rgba(1,1,1,0.75) 8%,rgba(1,1,1,0) 9%,rgba(1,1,1,0) 11%,rgba(1,1,1,0.75) 12%,rgba(2,2,2,0.75) 18%,rgba(2,2,2,0) 19%,rgba(3,3,3,0) 25%,rgba(3,3,3,0.75) 26%,rgba(11,11,11,0.75) 75%,rgba(11,11,11,0) 76%,rgba(12,12,12,0) 82%,rgba(12,12,12,0.75) 83%,rgba(13,13,13,0.75) 89%,rgba(13,13,13,0) 90%,rgba(13,13,13,0) 92%,rgba(13,13,13,0.75) 93%,rgba(14,14,14,0.75) 95%,rgba(14,14,14,0) 96%,rgba(15,15,15,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000f0f0f',GradientType=0 ); /* IE6-9 */
}


@keyframes glow {
	from {
  text-shadow:
    0 0 5px #111,
    0 0 10px #111,
    0 0 20px #111,
    0 0 40px #111,
    0 0 80px #111;
	}

	70% {
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff;
	}

  to {
	text-shadow:
    0 0 5px #111,
    0 0 10px #111,
    0 0 20px #111,
    0 0 40px #111,
    0 0 80px #111;
	}
}

@font-face {
  font-family: 'SF TransRobotics';
  src: url('./fonts/transrobotics/sf_transrobotics-webfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('./fonts/transrobotics/SF TransRobotics.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

@media only screen and (max-width : 640px) {

  .Heading {
    height: 130px;
  }

  .HeroHeading {
    font-size: 50px;
    animation-name: none;
  }

  .LinkList {
    max-width: 639px;
    max-height: none;
  }

  video {
    width: 320px;
    height: 240px;
  }

  #video_container {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
  }


}
